.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}
.wrapper{
    font-size: 0;

}
.content__block{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}
.item{
    width: 25%;
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    font-size: 25px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #000;


}
p {
    font-family: sans-serif;
    font-weight: bold;


}